.customerdetails {
    margin-top: 50px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.customerimg {
    width: 100%;
    height: 100%;
}

.searchbar {
    margin-left: 50px;
    width: 200px;
    margin-top: 50px;
}

.tableholder{
    margin: 50px;
}

.card{
    margin:50px;
}

.customerdetails {
    font-size: 5%;
}

.addcustomerbutton{
    width:60px;
}

.headerimg{
    height:100vh;
    width:100%;
    margin:0;
    padding:0;
}

.header1{
    position:absolute;
    font-size:80px;
    color:white;
    left:50px;
    top:50%;
}

.header2 {
    position: absolute;
    font-size: 80px;
    color: white;
    left: 100px;
    top: 60%;
}

.header3 {
    position: absolute;
    font-size: 80px;
    color: white;
    left: 150px;
    top: 70%;
}

.blackcolor{
    color:black;
}